body{
    position: relative;
    background-image: url("./jsloginbackgrnd.jpg");
    background: blue;
    background-size: cover;
    
}
.container{
    position: absolute;
    margin-left: 600px;
}
.container1{
    
   background-color: white;
    position: absolute;
    margin-top: 80px;
    padding: 90px;
    border-radius: 50px ;
}
#input{
    padding:12px;
    border-radius: 50px;
    color: teal;
    border-color: teal;

}
.container1 h1{
    margin-top: -60px;
    margin-left: 30px;
}
.header{
    position: relative;
}
.container button{
        position: absolute;
    margin-left: -54px;
    margin-top: 4px;
    padding: 10px;
    background-color: orangered;
    color: white;
    font-weight: bold;
    font-size: 13px;
    border-radius: 50px;    
    border: none;
}
.container button:hover{
    background-color: rgb(212, 128, 98);
    color:teal;
}
ul li{
    list-style: none;
    color:#0c1559;
    font-weight: bold;
    font-size: large;
    margin-top: 20px;
    margin-left:-40px;
}
ul li span{
    position: absolute;
    margin-left: 150px;
    margin-bottom: 10px;
    padding: 5px;

}
ul li span:hover{
    background: #DADED9;
    padding:2px;
    border-radius: 40%;

}